@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <style>
        *{
            box-sizing: border-box;
        }
        .header{
            text-align: center;
            padding: 40px;
        }

        .row {
            display: flex; /* flexbox yapısını kullanabilmek için*/
            flex-wrap: wrap; /* bu satır olmazsa hepsi yan yana dizliyor, scrollbar şeklinde*/
            padding: 0 5px;
        }
        .column{
            flex: 25%;
            flex-wrap: wrap;
            max-width: 25%;
            padding: 0 5px;
        }
        .column img{
            margin-top: 6px;
            vertical-align: middle;  /*dikey hizalama*/
            width: 100%;
        }

        @@media screen and (max-width: 800px){
            .column {
                flex: 50%;
                max-width: 50%;
            }
        }

        @@media screen and (max-width: 600px) {
            .column {
                flex: 100%;
                max-width: 100%;
            }
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>Image Gallery With Flexbox</h1>
        <p>My first flexbox example</p>
    </div>
    <div class="row">
        <div class="column">  <!-- column flex item olmuş olacak-->
            <img src="~/img/resimler/ağaç.jpg" />
            <img src="~/img/resimler/bulut.jpg" />
            <img src="~/img/resimler/çiçek.jpg" />
            <img src="~/img/resimler/deniz.jpg" />
        </div>
        <div class="column">
            <img src="~/img/resimler/gece.jpg" />
            <img src="~/img/resimler/gökyüzü.jpg" />
            <img src="~/img/resimler/güneş.jpg" />
            <img src="~/img/resimler/kahve.jpg" />
        </div>
        <div class="column">
            <img src="~/img/resimler/kahve.jpg" />
            <img src="~/img/resimler/kaya.jpg" />
            <img src="~/img/resimler/köprü.jpg" />
            <img src="~/img/resimler/bulut.jpg" />
        </div>
        <div class="column">
            <img src="~/img/resimler/orman.jpg" />
            <img src="~/img/resimler/saman.jpg" />
            <img src="~/img/resimler/bulut.jpg" />
            <img src="~/img/resimler/çiçek.jpg" />
        </div>
    </div>
</body>
</html>